@import '../assets/color.scss';

.project-list-panel {
  width: 50%;
  height: 100%;
  position: fixed;
  background: darken($color-primary, 3);
  padding: 20px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.3) 10px 0px 65px 0px;
}