@import '../../assets/color.scss';

.library-item {
  width: 100%;
  padding: 20px;
  color: white;
  background: $color-primary;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.3) 10px 0px 65px 0px;
  position: relative;
  margin-bottom: 20px;
  word-wrap: break-word;
  line-height: 2rem;
  .library-name {
    font-size: 2rem;
    margin-bottom: 40px;
    position: relative;
    &::after {
      width: 20%;
      height: 3px;
      border-radius: 2px;
      background: $color-secondary;
      content: '';
      position: absolute;
      top: 150%;
      left: 0;
    }
  }
  .library-version, .library-link {
    font-size: 1.3rem;
    margin-bottom: 10px;
    width: 100%;
    height: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .delete-button {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 1.2rem;
    opacity: 0;
    transition: opacity 0.3s;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
  }
  &:hover .delete-button {
    opacity: 1;
  }
}
